/* .banner{
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    margin-top: 15px;
    background-color: black;
    background-image: url(https://www.parqueygrama.com/wp-content/uploads/2017/05/mantenimiento-grama-futbol.png);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner p{
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-align: left;
    margin-top: 30px;

} */