.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.texto{
    /* background-color: blue; */
    padding: 20px;
}
.texto h1{
    font-size: 40px;
    text-align: center;
}
.tip{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    
}
.tip:hover{
    font-weight: 300;
}
.img{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    /* text-align: center; */
}
.camiseta{
    /* margin-left: 40px; */
    margin: auto;
}

.texto, .img {
    flex: 1; /* Esto asegura que ambos elementos ocupen el mismo espacio */
    margin: 40px; /* Ajusta los márgenes entre los elementos */
}